{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" style="margin-top: 70px">
        <div class="row">
            <div class="main">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">微信状态实时监控</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-hover table-responsive table-striped">
                                <thead>
                                <tr>
                                    <th>微信号</th>
                                    <th>名称</th>
                                    <th>客户名称</th>
                                    <th>时间</th>
                                    <th>转人工</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for todo in todos %}
                                    <tr>
                                        <td>{{ todo.wx_id }}</td>
                                        <td>{{ todo.wx_name }}</td>
                                        <td>{{ todo.user_name }}</td>
                                        <td>{{ todo.time }}</td>
                                        <td><input type="button" name="Button" value="Button"
                                                   onclick="window.open('/record_frame/{{ todo.wx_id }}/{{ todo.user_name }}','ifrmname','')">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <iframe src="/record_frame" width="1400px" height="400px" name="ifrmname" id="ifrmid"></iframe>
    </div>

{% endblock %}